<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="GameFiles" value="C:\Users\anthonyphan\source\repos\A05-Game\A05-Server\gamefiles\"/>
		<add key="ServerIP" value="10.0.0.4"/>
		<add key="ServerPort" value="13000"/>
		<add key="logFilePath" value="C:\Users\anthonyphan\source\repos\A06-Server\A06-Server\bin\Debug\logfile.txt"/>
	</appSettings>
</configuration>